{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ test }}</h1>
{% endblock %}

{% block topbar %}
    {{ parent() }}
    <p>Nog een stuk teksPEOPt.</p>
{% endblock %}

{# Als je javascript of css specifieke files wilt includen op een pagina, moet je dat op deze manier doen. (Parent extenden dus) Anders hoef je dit blok niet aan te spreken.#}
{% block javascripts %}
    {{ parent() }}
   <script src="{{ asset('bundles/js/main.js') }}"></script>
{% endblock %}