{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-10 col-md-offset-2 main-content" xmlns="http://www.w3.org/1999/html">
        <h2>Details</h2>
        <a href="{{ path('location_index') }}">Terug naar overzicht</a>
        <div class="col-md-6">
            <div class="info-group">
                <fieldset class="form-group">
                    <div class="col-md-4"><strong>Naam</strong></div>
                    <div class="col-md-8">{{ coworker.fullName}}</div>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}