<!DOCTYPE html>
<html>
<head>
    {# include css files. #}
    {% include 'includes/header.html.twig' %}
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div class="top-bar">
            <div class="search-bar">
                    {% block topbar %}
                            <p>Top bar</p>
                    {% endblock %}
            </div>
            <div >
                    {% block variablebuttons %}
                    {% endblock %}
            </div>
    </div>

    {% block body %}
    {% endblock %}

    {# include general Js files. #}
    {% include 'includes/js.html.twig' %}

    {% block javascripts %}
    {% endblock %}
</body>

