<!DOCTYPE html>
<html>
<head>
    {# include css files. #}
    {% include 'includes/header.html.twig' %}
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {# include general Js files. #}
    {% include 'includes/js.html.twig' %}

    {% block javascripts %}
    {% endblock %}
</body>

