{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-10 col-md-offset-2 main-content">
        <h2>Instellingen</h2>

        <div class="list-group col-md-6">
            <a href="{{ path('task_index') }}" class="list-group-item">Functies</a>
            <a href="{{ path('location_index') }}" class="list-group-item">Locaties</a>
            <a href="#" class="list-group-item">Gebruikers</a>
        </div>
    </div>

{% endblock %}